 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     #slider {
         margin-top: 80px;
     }

     .funciona-pasos {
         justify-content: center;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (max-width: 990px) {
     #slider {
         height: 50vh;
         margin-top: 75px;
     }

     #metodo {
         display: none;
     }

     #metodo-cel {
         display: flex;
         justify-content: center;
     }

     #metodo-cel .images-metodo {
         flex-direction: column;
         align-items: center;
     }

     #metodo-cel .metodo-info {
         width: 83%;
     }

     #metodo-cel .metodo-box {
         width: 100%;
     }

     .item-paso-desc {
         min-height: 50px;
         width: 95%;
     }

     .contacto-input {
         width: 90%;
     }

     .slider-text__big {
         font-size: 1.2rem;
     }

     .item-paso {
         flex: 0 1 30%;
         margin-bottom: 0;
     }

     .diagnostico-info-desc {
         text-align: center;
     }

     #slider .btn {
         padding: 0.8rem 1rem;
         font-size: 1rem;
     }

     .metodo-info {
         margin-top: 0;
     }

     .preguntas-drop {
         margin: 0 auto;
     }

     .seprador {
         width: 100%;
     }

     .contacto-logo {
         margin-top: 4rem;
     }

     .contacto-logo>img {
         width: 150px;
     }

     .contacto-info {
         margin-top: 1.5rem;
     }

     .btn-contacto-enviar {
         padding: 1rem 1.5rem;
     }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 1100px) and (min-width: 992px) {
     #slider {
         height: 50vh;
         margin-top: 75px;
     }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 1100px) {
     .header {
         display: none;
     }

     header {
         height: 70px;
     }

     .topnav {
         display: flex;
     }

     .slider-box-info--text {
         padding: 0;
         text-align: center;
     }

     .escuadra-dcha,
     .escuadra-izda,
     .escuadra-dcha>img,
     .escuadra-izda>img {
         width: 50px;
     }

     .slider-box-info {
         width: 100%;
     }

     .diagnostico-info-desc {
         flex: 1 1 80%
     }

     .diagnostico-box a,
     .diagnostico-info-hora {
         margin: 2rem auto;
     }

     .btn-box {
         display: flex;
     }

     .metodo-info {
         width: 70%;
     }

     .diagnostico-info,
     .metodo-info {
         padding: 0 2rem;
         flex-direction: column;
         align-items: center;
     }

     .diagnostico-info {
         margin: 0 auto;
     }

     .diagnostico-info-horario {
         height: 8rem;
     }

     .diagnostico-info-horario>p {
         font-size: 1.5rem;
     }

     .funciona-box h1,
     .diagnostico-box h1,
     .metodo-box h1,
     .preguntas-box h1,
     .contacto-box h1 {
         margin: 1.5rem auto;
         padding: 0;
         width: 60%;
         font-size: 1.8rem;
         text-align: center;
     }

     .funciona-pasos {
         margin-top: 0;
     }

     .contacto-info {
         flex-direction: column;
     }

     .toggle-pregunta {
         width: 20px;
         margin-left: 10px;
     }

     /* .contacto-logo>img {
         width: 100%;
     } */

     .btn-enviar {
         justify-content: center;
     }

     .btn-enviar>.btn {
         width: 100%;
     }

     .escuadra-grande {
         margin-top: 5rem;
         margin-left: 3.6rem;
     }

     .footer-box {
         flex-direction: row;
         justify-content: center;
         /* align-items: center; */
         flex-wrap: wrap;
     }

     .footer-box>div {
         margin: 10px;
     }

     .menu {
         flex: 0 1 30%;
     }
 }

 @media only screen and (max-width: 1440px) {
     .title {
         margin: 0 auto;
         padding: 0;
         width: 60%;
         text-align: center;
     }
 }

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

     .menu-container {
         flex: 1 1 70%
     }

     .logo-header {
         flex: 0 1 30%;
     }

     .escuadra-dcha {
         align-self: start;
     }
 }